
/* Główny kontener, który jest pozycjonowany i ma stałe wymiary */
#progress-bar-container-wrapper {
    position: fixed;
    z-index: 9999;
    pointer-events: none;
}

.proreader-container.position-top { top: 0; }
.proreader-container.position-bottom { bottom: 0; }


#progress-bar-gradient {
    position: relative; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #ccc, #aaa); 
}

#progress-bar {
    position: absolute;
    top: 0;
    right: 0; 
    width: 100%; 
    height: 100%;
    background-color: #fff; 
    transition: width 0.2s ease-out;
    z-index: 2; 
}

.proreader-labels {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    padding: 0 15px; 
    box-sizing: border-box;
    pointer-events: none; 

}

.proreader-labels span {
    color: #ffffff; 
    mix-blend-mode: difference; 
    font-weight: bold;
    z-index: 3;
}

#rep-progress-percentage {
    position: absolute;
    
    top: 50%;
    transform: translateY(-50%);
    color: #ffffff;
    mix-blend-mode: difference;
    font-size: 12px;
    font-weight: bold;
    z-index: 3; 
    white-space: nowrap;
}

#rep-progress-percentage.position-center {
    left: 50%;
    transform: translate(-50%, -50%); 
}

#rep-progress-percentage.position-left {
    left: 15px; 
}

#rep-progress-percentage.position-right {
    right: 15px; 
    left: auto; 
}