/* Plik: assets/css/progress-bar.css */

/* Kontener paska progresu */
#progress-bar-container {
    position: fixed;
    left: 0;
    width: 100%;
    z-index: 9999;
    pointer-events: none; /* Nie blokuje interakcji użytkownika */
}

/* Wskaźnik paska progresu */
#progress-bar {
    width: 0;
    height: 4px;
    background-color: #000;
    transition: width 0.1s ease-out;
}
